* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(107, 138, 224, 1) 0%, rgba(26, 50, 116, 1) 100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 20px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: auto;
  margin-right: 20px;
}

button {
  width: auto;
  height: 40px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s ease all;
}

button:hover {
  background-color: white;
  transition: 0.5s ease all;
  color: rgba(26, 50, 116, 1);
}

.filtroBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid white;
  padding: 40px 25px;
  margin: 30px 0px 40px 0px;
  border-radius: 6px;
}

label {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

label span {
  width: auto;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-weight: 400;
  text-align: left;
  margin-bottom: 8px;
}

input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #777676;
  padding: 0px 15px;
  box-sizing: border-box;
  outline: none;
}

.filtroBox label {
  margin-right: 15px;
}

.filtroBox button {
  margin-right: 15px;
  margin-top: 28px;
}

table {
  width: 100%;
  min-width: 650px;
  height: auto;
  background-color: transparent;
  border-collapse: collapse;
  border: none;
}

th {
  border: 1px solid white;
  padding: 15px;
  background-color: white;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary);
  line-height: 18px;
  text-align: left;
}

td {
  border: 1px solid #b9b8b8;
  padding: 15px;
  background-color: var(--light);
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  line-height: 20px;
  text-align: left;
}

.abasBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.abasBox button {
  margin-right: 10px;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid transparent;
}

.abaAtiva {
  background-color: white;
  transition: 0.5s ease all;
  color: rgba(26, 50, 116, 1);
}

.abaDados {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 30px;
  border: 1px solid white;
  border-radius: 6px;
  min-width: 650px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: auto;
  margin-bottom: 15px;
}

.abaDados h2 {
  width: 550px;
  display: flex;
  justify-content: flex-start;
}

.abaDados form {
  width: 550px;
}

.abaDados label {
  margin-bottom: 15px;
}

.abaDados button {
  width: 100%;
  margin-top: 20px;
}

.abaParticipantes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 60px 0px;
  min-width: 650px;
}

.abaParticipantes h2 {
  margin-top: 20px;
}

.abaParticipantes button {
  margin-bottom: 10px;
  margin-bottom: 20px;
}


.abaParticipantes table button {
  margin-bottom: 0px;
}

.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 20px 40px 20px;
}

.modal-conteudo {
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.modal-conteudo h2 {
  color: rgba(26, 50, 116, 1);
}

.modal-conteudo p {
  margin-bottom: 5px;
}


.modal-conteudo p:last-of-type {
  margin-bottom: 15px;
}

.modal-conteudo form {
  width: 100%;
}

.modal-conteudo label {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal-conteudo label span {
  width: auto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(26, 50, 116, 1);
  font-weight: 400;
  text-align: left;
  margin-bottom: 8px;
}

.modal-conteudo input {
  width: 100%;
  height: 40px;
  background-color: rgba(26, 50, 116, 1);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  padding: 0px 15px;
  box-sizing: border-box;
  outline: none;
}


.modal-conteudo button {
  width: auto;
  height: 40px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid rgba(26, 50, 116, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(26, 50, 116, 1);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s ease all;
}

.modal-conteudo button:hover {
  background-color: rgba(26, 50, 116, 1);
  transition: 0.5s ease all;
  color: white;
}

.modal-conteudo .btn-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.modal-conteudo .btn-box button {
  margin-right: 10px;
}

.erro {
  width: 100% !important;
  color: #772121 !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  text-align: left !important;
  margin-top: 3px !important;
  margin-bottom: 0px !important;
}

.sucesso {
  width: 300px;
  max-width: 300px;
  background-color: green;
  padding: 20px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  position: fixed;
  color: white;
  right: 0;
  bottom: 0;
}